.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body{
  min-height: 89.9vh;
}

label.form-label{
  left:1em;
}

a{
  text-decoration: none;
  color: #AAAAAA;
  margin: 0;
}

.table tr th{
  color: white;
  background-color: #212529;
}

.botao{
  height:30px;
  margin-Bottom:5px;
  text-Align:'center';
  place-Items:'center';
  justify-Content:'center';
  padding-Bottom:6px;
  padding-Top:2px
}

.home{
  margin: auto;
  place-content: center;
}

.Image{
  width: 500px;
  height: 500px;
  margin-right: 50px;
  border-radius: 2px;
}

@media (max-width: 800px) {
  .tabela-user {

    thead{
      display: none;
    }
    td {
      display: block;
    }
    td::before {
      content: attr(data-th) ": ";
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 1000px) {
  .tabela-comp {
    thead {
      display: none;
    }
    td {
      display: block;
    }
    td::before {
      content: attr(data-th) ": ";
      font-weight: bold;
      text-transform: capitalize;
    }
  }
}

.sumir:disabled{
  display: none;
}

.titulo{
  color: white;
}

.distancia{
  margin-right: 30px;
}