body{
  padding: 0;
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
html{
  margin:0;
  padding: 0;
}
footer{
  bottom: 0;
  width: 100%;
  unicode-bidi: isolate;
}
div.teste{
  padding: 70px;
  padding-top: 0;
}

span#Situacao{
  text-align: left;
  color: #707070;
}

.plano-de-fundo{
  background-image: url(../src/images/BackGroundImage.png);
}

.tabela{
  padding: 10px;
}

.espaco{
  margin:5px;
}

.espaco-home{
  margin:5px;
  margin-right: 500px;
}

.busca{
  border-radius:6px;
}